<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rewrite all requests to index.html -->
        <rule name="React Router - All Requests to index.html" stopProcessing="true">
          <match url="^(?!index\.html$)(.*)$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>